<!-- <h2 class="success" style="text-align: center">${success}</h2> -->
<h1>{{'MESSAGE_RECEIVED' | translate}}</h1>
<!-- <div class="row">
  <h2 style="text-align: center">{{'NO_MESSAGE' | translate}}</h2>
</div> -->

<h1>{{'MESSAGE_UNREAD' | translate}}</h1>
<table class="table table-hover">
  <thead>
  <td>{{'USERNAME' | translate}}</td>
  <td>{{'SUBJECT' | translate}}</td>
  <td>{{'ACTION' | translate}}</td>
  </thead>
  <tbody>
  <tr ng-repeat-start="message in messages.unread"  ng-click="toggleDetails(message.id)" class="clickable">
    <td>{{message.from}}</td>
    <td>{{message.subject}}</td>
    <td>
      <div>
      <input type="hidden" name="id" ng-value="message.id"/>
        <button class="myButton" ng-click="deleteMessage(message.id)">
        {{'DELETE' | translate}}
        </button>
      </div>
    </td>
  </tr>
  <tr ng-repeat-end ng-show="activePosition == {{message.id}}" ng-click=""><td colspan="3">{{message.message}}</td></tr>
  </tbody>
</table>

<h1>{{'READ_MESSAGE' | translate}}</h1>
<table class="table table-hover">
  <thead>
  <td>{{'USERNAME' | translate}}</td>
  <td>{{'SUBJECT' | translate}}</td>
  <td>{{'ACTION' | translate }}</td>
  </thead>
  <tbody>
  <tr ng-repeat="message in messages.read" class="clickable-row">
    <td>{{message.from}}</td>
    <td>{{message.subject}}</td>
    <td>
      <div>
        <input type="hidden" name="id" ng-value="message.id"/>
        <button class="myButton" ng-click="deleteMessage(message.id)">
          {{'DELETE' | translate}}
        </button>
      </div>
    </td>
  </tr>
  </tbody>
</table>

<h1>{{'CREATE_MESSAGE' | translate}}</h1>
<div>
  <div class="form-group">
    <label>{{'USERNAME' | translate}}</label>
    <br>
    <input class="form-control" ng-model="giveTo" id="list" name="username" placeholder="{{'MAIL_PLACEHOLDER' | translate}}">
  </div>
  <div class="form-group">
    <label>{{'SUBJECT' | translate}}</label>
    <input type="subject" class="form-control"  ng-model="giveSubject" maxlength="50" name="subject" aria-describedby="subjectHelp"
           placeholder="{{'SUBJECT' | translate}}">
  </div>
  <div class="form-group">
    <label>{{'MESSAGE' | translate}}</label>
    <textarea class="form-control" ng-model="giveMessage" name="message" onkeyup="textCounter(this,'counter',1024);" id="exampleTextarea"
              rows="3" maxlength="1024"></textarea>
    <label>{{'CHARACTER_REMAINING' | translate}}</label>
    <input disabled style="background: white" maxlength="3" size="3" value="1024" id="counter">
  </div>
  <button type="submit" ng-click="createMessage()" class="myButton">
    {{'SUBMIT' | translate}}
  </button>
</div>



