.resBar{
    border: 1px solid black;
    background-image: url(../images/resbar_back.jpg);
}

.resBar > table{
    max-height: 50px;
    font-size: 120%;
}

.resBar > table > tbody >tr > td{
    width: 150px;
}

.resBar .resource{
    height: auto; 
    width: auto; 
    max-width: 40px; 
    max-height: 40px;
}