<div class="resBar">
  <table>
    <tbody>
    <tr>
      <td>
        <img class="resource" src="images/iconResFood.png"/><span class="quantity">{{res.resources[0].amount | number:0}}</span>
      </td>
      <td>
        <img class="resource" src="images/iconResGold.png"/><span class="quantity">{{res.resources[1].amount | number:0}}</span>
      </td>
      <td>
        <img class="resource" src="images/silo.png"/><span id="limit">{{res.limit | number:0}}</span>
      </td>
    </tr>
    </tbody>
  </table>
</div>
